
<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootsrap.min.css'>
	<title>Find an Anagram</title>
</head>
<body>
	<div class='container'>
		<h1>Anagram Finder</h1>
		<h2>Enter a word, and a list of words to check for anagrams: </h2>
		<form action='/view_translate'>
			<div class='form-group'>
				<label for='word'>Word to check:</label>
				<input id='word' name='word' class='form-control' type='text'>
			</div>
			<div class='form-group'>
				<label for='list'>Enter list of words separated by spaces:</label>
				<input id='list' name='list' class='form-control' type='text'>
			</div>
			<button type='submit' class='btn-success'>Find Anagrams</button>
		</form>
	</div>
</body>
</html>