<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
	<title>List of Anagrams</title>
</head>
<body>
	<div class='container'>
		<h1>Your Results of Anagrams and Partial Anagrams: </h1>
		{% if result[0] == "no anagram" %}
		<h2>There were no Anagrams in the list</h2>
		{% else %}
			<ul>
				{% for word in result %}
					<li>{{ word }}</li>
				{% endfor %}
			</ul>
		{% endif %}
		<form action='/'>
			<button type='submit' class='btn-success'>Go Back</button>
		</form>
	</div>
</body>
</html>